*{
    margin: 0;
    padding: 0;
}

.left-bar{
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: fixed;
    width: inherit;
}

#right-content{
    background-color: #f1f4f9;
}