<div class="container-fluid">
    <div class="row pt-4 pb-2 text-warning fw-bold">
        <div class="col title-text">MANAGE EMPLOYEE</div>
    </div>
    <div class="row py-3 text-white">
        <div class="col" routerLink="/admin">All employees</div>
    </div>
    <div class="row py-3 text-white">
        <div class="col">
            <div class="dev-dropdown">
                <div class="dropdown-toggle text-white" role="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#dev-menu" aria-controls="dev-menu">
                    Developer
                </div>
            </div>
        </div>
        <div id="dev-menu" class="collapse">
            <div class="row py-3 ps-4">Front-end</div>
            <div class="row pt-3 ps-4">Back-end</div>
        </div>
    </div>
    <div class="row py-3 text-white">
        <div class="col">Tester</div>
    </div>
    <div class="row py-3 text-white">
        <div class="col" routerLink="/admin/add-employee">Add account</div>
    </div>

    <div class="row pt-5 pb-2 text-warning fw-bold">
        <div class="col title-text">MANAGE TASK</div>
    </div>
    <div class="row py-3 text-white">
        <div class="col" routerLink="/admin/task">All tasks</div>
    </div>
    <div class="row py-3 text-white">
        <div class="col" routerLink="/admin/add-task">Add task</div>
    </div>
    <div class="row py-3 text-white">
        <div class="col" routerLink="/admin/assign-task">Assignment</div>
    </div>

    <div class="row pt-5 pb-2 text-warning fw-bold">
        <div class="col title-text">MANAGE DOCUMENT</div>
    </div>
    <div class="row py-3 text-white">
        <div class="col">Document</div>
    </div>

    <div class="row pt-5 pb-2 text-warning fw-bold">
        <div class="col title-text">EXTENSION REQUEST</div>
    </div>
    <div class="row py-3 text-white">
        <div class="col">List requests</div>
    </div>

    <div class="row pt-5 pb-2 text-warning fw-bold">
        <div class="col title-text">STATISTICS</div>
    </div>
    <div class="row py-3 text-white">
        <div class="col">Employee ranking</div>
    </div>
    <div class="row py-3 text-white">
        <div class="col">Employee performance</div>
    </div>
</div>