*{
    margin: 0;
    padding: 0;
}

.left-bar{
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: fixed;
    width: inherit;
}

#right-content{
    background-color: #f1f4f9;
}

::ng-deep .p-float-label {
    display: inline;
}


::ng-deep .p-datepicker {
    transform: scale(0.77);
}