<section id="add-task-session">
    <div class="row justify-content-center">
        <div class="col-2">
            <h2>New Task</h2>
        </div>
    </div>
    <div class="row">
        <form [formGroup]="newTaskForm">
            <div id="liveAlertPlaceholder"></div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-4">
                    <select class="form-select opacity-75" formControlName="difficulty">
                        <option hidden value="" disabled selected>Select Difficulty</option>
                        @for (difficulty of difficultyList; track difficulty) {
                            <option value={{difficulty.id}}>{{difficulty.value}}</option>
                        }
                    </select>
                </div>
                <div class="col-4">
                    <select class="form-select opacity-75" formControlName="type">
                        <option hidden value="" disabled selected>Select Type</option>
                        @for (type of typeList; track type) {
                            <option value={{type.id}}>{{type.description}}</option>
                        }
                    </select>
                </div>
                <div class="col-4">
                    <select class="form-select opacity-75" formControlName="document">
                        <option hidden value="" disabled selected>Select Document</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-5">
                    <span class="p-float-label">
                        <p-calendar
                            [minDate]="currentDateAndTime"
                            formControlName="deadline"
                            dateFormat="dd/mm/yy"
                            [showTime]="true"
                            [hourFormat]="'24'"/>
                            <label>Deadline</label>
                    </span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>
                </div>       
            </div>
            <!-- @if (newEmployeeForm.value.role=="User") {
                <div class="row mt-3">
                    <div class="col-6">
                        <select class="form-select opacity-75" aria-label="Default select example" formControlName="departmentID">
                            @for (department of departmentList; track department) {
                                <option value={{department.id}}>{{department.name}}</option>
                            }
                        </select>
                    </div>
                    <div class="col-5">
                        <select class="form-select opacity-75" aria-label="Default select example" formControlName="majorID">
                            @if (newEmployeeForm.value.departmentID==1){
                                @for (major of majorList; track major) {
                                    <option value={{major.id}}>{{major.value}}</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            } -->
        </form>
    </div>
    <div id="add-button-session" class="row justify-content-end">
        <div class="col-2">
            <button type="button" (click)="addTask()" class="btn"><i class="bi bi-plus-lg"></i> Add</button>
        </div>
    </div>
</section>