<section id="add-task-session">
    <div class="row">
        name description Difficulty createtime deadline Status type document
    </div>
    <div class="row">
        
    </div>
    <div class="row">
        <div class="col-3">
            <select class="form-select opacity-75" aria-label="Default select example">
                <option selected>Type</option>
                <option value="1">Full-stack developer</option>
                <option value="2">Front-end developer</option>
                <option value="3">Back-end developer</option>
                <option value="4">Tester</option>
            </select>
        </div>
        <div class="col">
            <select class="form-select opacity-75" aria-label="Default select example">
                <option selected>Difficulty</option>
                <option value="1">Technical</option>
                <option value="2">Management</option>
                <option value="3">Production</option>
                <option value="4">Human resouces</option>
                <option value="5">Financial Accounting</option>
                <option value="6">Marketing</option>
                <option value="7">Business</option>
            </select>
        </div>
        <div class="col">
            <select class="form-select opacity-75" aria-label="Default select example">
                <option selected>Status</option>
                <option value="1">Full-stack developer</option>
                <option value="2">Front-end developer</option>
                <option value="3">Back-end developer</option>
                <option value="4">Tester</option>
            </select>
        </div>
    </div>
    <div id="add-button-session" class="row justify-content-end">
        <div class="col-2">
            <button type="button" class="btn"><i class="bi bi-plus-lg"></i> Add</button>
        </div>
    </div>
</section>